/* npx @tailwindcss/cli -i ./style/main.css -o ./style/output.css --watch */

@import 'tailwindcss';

@theme {
  /* --color-dark: #282630; */
  --color-dark: #000;
  --color-golden: #d9c8a9;
  --color-yellow: #b7973e;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Define weight range for variable font */
  font-style: normal;
  font-display: swap;
}

/* Import Urbanist Italic Variable Font */
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Define weight range for variable font */
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Urbanist';
}

.bannerVid {
  height: calc(100vh + 5rem * 2);
  margin-top: -5rem;
  pointer-events: none;
  z-index: -1;
  background-color: var(--color-dark);
}

.bannerContent {
  z-index: 0;
  color: white;
  position: relative;
}

.darkgradOverlay:after {
  position: absolute;
  inset: 0;
  content: '';
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0.2) 75%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.parallexColumns {
  --startPoint: calc(100vh);
  --endPoint: calc(350vh);
  --scrollRange: calc(
    var(--endPoint) - var(--startPoint)
  ); /* Total scroll distance */
  --progress: calc((var(--scrollY) - var(--startPoint)) / var(--scrollRange));
  will-change: opacity;
  opacity: clamp(0, calc(1 - abs(2 * var(--progress) - 1)), 0.5);
}

.parallexColumns .column {
  --multiplier: 1;
  will-change: transform;
  transform: translateY(
    calc((var(--startPoint) - var(--scrollY)) * var(--multiplier))
  );
}

.verticalText {
  writing-mode: vertical-rl;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
  scale: -1;
}
@media (max-width: 1000px) {
  .verticalMobileReset {
    writing-mode: initial;
    -webkit-text-orientation: initial;
    text-orientation: initial;
    scale: 1;
  }
}
.circleBefore {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  opacity: 0.6;
  transition: opacity 300ms ease 400ms;
}

.circleBefore:before {
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: #ebc554;
  display: block;
  margin-block: auto;
}

.line {
  position: relative;
}
.line:before {
  background: white;
  opacity: 0.4;
  position: absolute;
  inset: 0;
  content: '';
}
.line:after {
  position: absolute;
  inset: 0;
  background-color: #ebc554;
  content: '';
  transform: scaleX(0);
  transition: transform 400ms ease;
  will-change: transform;
  transform-origin: 0;
}
.moreDiv {
  cursor: pointer;
}
.moreDiv:hover .line:after {
  transform: scaleX(1);
}
.moreDiv:hover .circleBefore {
  opacity: 1;
}

.parallexColumns + .txtContent {
  transition: opacity 400ms ease-in-out;
}

.bg-dark-white {
  background: linear-gradient(
    to bottom,
    var(--color-dark) 0%,
    var(--color-dark) 49.9%,
    #fff 50%,
    #fff 100%
  );
}

section.services .imgWrapper {
  aspect-ratio: 2/3;
  position: relative;
  scale: 1;
  transition: scale 400ms ease;
}
section.services .imgWrapper:after {
  position: absolute;
  background-color: black;
  opacity: 0.3;
  inset: 0;
  content: '';
  scale: 1;
  transition: scale 400ms ease;
}
section.services .imgWrapper img {
  aspect-ratio: 2/3;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1;
  transition: scale 400ms ease;
}
section.services .txtWrapper {
  color: white;
}
section.services .card .txtWrapper .title {
  transition: color 300ms ease;
}

section.services .card .descWrapper {
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}

section.services .card:hover .descWrapper {
  grid-template-rows: 1fr;
}
section.services .card:hover {
  z-index: 1;
}
section.services .card:hover .imgWrapper,
section.services .card:hover .imgWrapper:after,
section.services .card:hover .imgWrapper img {
  scale: 1.05;
}
section.services .card:hover .txtWrapper .title {
  color: var(--color-golden);
}
.projectSlideBtn {
  --gray: #c4c4c4;
  color: var(--gray);
  border: 1px solid var(--gray);
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  transition: border-color 300ms ease, color 300ms ease;
}
.projectSlideBtn:hover {
  --gray: var(--color-golden);
  cursor: pointer;
}
.projectCard h2 {
  margin-block-end: 2rem;
}
.projectCard {
  background-color: #ededed;
  padding-inline-start: 5rem;
  padding-block-start: 5rem;
  padding-block-end: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  color: #989898;
}
.container {
  @apply px-4;
}
.container:has(.projectCard) {
  position: relative;
}

.projectCard .leftContent {
  display: grid;
  gap: 3rem;
  grid-auto-rows: max-content;
}

.projectCard .readMoreBtn {
  background-color: transparent;
  border: 1px solid #c4c4c4;
  max-width: max-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 200vmax;
  transition: border-color 300ms ease, color 300ms ease;
}
.projectCard .readMoreBtn:hover {
  border-color: var(--color-golden);
  color: var(--color-golden);
}
.projectCard .rightContent {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 1rem;
  max-width: 55%;
}
.projectCard .rightContent img {
  /* aspect-ratio: 900 / 607; */
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.projectCard .rightContent .txt {
  margin-top: 1rem;
}

.YtVidWrapper::after {
  position: absolute;
  inset: 0;
  z-index: 10;
  content: '';
}

footer svg {
  background: gray;
  stroke: black;
  padding: 0.3rem;
  box-sizing: border-box;
  border-radius: 50%;
  width: 1.6rem;
  height: auto;
  fill: white;
  position: relative;
}
/* footer svg::before {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  background-color: gray;
  content: "";
  position: absolute;
  } */

footer svg:is(.feather-facebook, .feather-linkedin, .feather-twitter) {
  stroke: transparent;
}
footer svg:is(.feather-instagram, .feather-youtube) {
  stroke: white;
  fill: transparent;
}

footer svg:hover {
  background: var(--color-golden);
}
footer a {
  transition: color 300ms ease;
}
footer svg {
  transition: background-color 300ms ease;
}

footer a:hover {
  color: var(--color-golden);
  cursor: pointer;
}

a {
  cursor: pointer;
}

.parallexColumns + .txtContent p:not(.verticalText) span {
  opacity: 0.1;
  /* transition: opacity 5ms ease; */
}

/* .menuOverlay {
  position: fixed;
  z-index: 1;
  color: black;
  height: 100vh;
  width: 100vw;
} */

.close {
  --diagonal: clamp(2rem, 1rem + 5vw, 4rem);
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: var(--diagonal);
  height: var(--diagonal);
  opacity: 0.3;
  transition: opacity 400ms ease-in-out;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: calc(15 / 33 * 100%);
  content: ' ';
  height: var(--diagonal);
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.menuNav {
  grid-auto-rows: max-content;
}
.menuNav a {
  padding-inline-start: calc(var(--order) * 2.5%);
  opacity: 0.6;
  transition: opacity 400ms ease-in-out;
}
.menuNav a:hover {
  opacity: 1;
}

/* .menuOverlay .imgWrapper:after {
  background-image: radial-gradient(
    circle,
    rgba(30, 67, 82, 0.5),
    rgba(30, 67, 82, 0.6),
    rgba(30, 67, 82, 0.9),
    rgba(30, 67, 82, 1)
  );
  content: '';
  position: absolute;
  inset: 0;
} */

.grid-item-left .menuImg {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}
.grid-item-left:hover .menuImg {
  opacity: 0.4;
}

.container-half {
  width: 100%;
  @media (width >= 64rem) {
    max-width: calc(64rem / 2);
  }
  @media (width >= 80rem) {
    max-width: calc(80rem / 2);
  }
  @media (width >= 96rem) {
    max-width: calc(96rem / 2);
  }
}

.grid-auto-row-max {
  grid-auto-rows: max-content;
}

.accordionGrid .accordionContent {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 400ms ease-in-out;
}
.accordionGrid:hover .accordionContent {
  grid-template-rows: 1fr;
}

.menuOverlay {
  pointer-events: none;
}

[data-menu='open'] .menuOverlay {
  pointer-events: initial;
}
.menuOverlay :is(.grid-item-right, .grid-item-left) {
  transition: transform 500ms ease-in-out;
}

.menuOverlay .grid-item-left {
  transform: translateY(100vh);
}
.menuOverlay .grid-item-right {
  transform: translateY(-100vh);
}
[data-menu='open'] .menuOverlay :is(.grid-item-left, .grid-item-right) {
  transform: translateY(0vh);
}

body[data-menu='open'] {
  overflow: hidden;
}
