/* npx @tailwindcss/cli -i ./style/main.css -o ./style/output.css --watch */

@import "tailwindcss";

@theme {
  --color-dark: #282630;
  --color-golden: #d9c8a9;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Define weight range for variable font */
  font-style: normal;
  font-display: swap;
}

/* Import Urbanist Italic Variable Font */
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Define weight range for variable font */
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Urbanist";
}

.bannerVid {
  height: calc(100vh + 5rem * 2);
  margin-top: -5rem;
  pointer-events: none;
  z-index: -1;
  background-color: var(--color-dark);
}

.bannerContent {
  z-index: 0;
  color: white;
  position: relative;
}

.darkgradOverlay:after {
  position: absolute;
  inset: 0;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 10%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.7) 75%,
    rgba(0, 0, 0, 0.8) 90%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.parallexColumns {
  --startPoint: 100vh;
  --endPoint: 250vh;
  --scrollRange: calc(
    var(--endPoint) - var(--startPoint)
  ); /* Total scroll distance */
  --progress: calc((var(--scrollY) - var(--startPoint)) / var(--scrollRange));
  will-change: opacity;
  opacity: clamp(0, calc(1 - abs(2 * var(--progress) - 1)), 0.5);
}
.parallexColumns .column {
  --multiplier: 1;
  will-change: transform;
  transform: translateY(
    calc((var(--startPoint) - var(--scrollY)) * var(--multiplier))
  );
}

.verticalText {
  writing-mode: vertical-rl;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
  scale: -1;
}
.circleBefore {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  opacity: 0.6;
  transition: opacity 300ms ease 400ms;
}

.circleBefore:before {
  content: "";
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: #ebc554;
  display: block;
  margin-block: auto;
}

.line {
  position: relative;
}
.line:before {
  background: white;
  opacity: 0.4;
  position: absolute;
  inset: 0;
  content: "";
}
.line:after {
  position: absolute;
  inset: 0;
  background-color: #ebc554;
  content: "";
  transform: scaleX(0);
  transition: transform 400ms ease;
  will-change: transform;
  transform-origin: 0;
}
.moreDiv {
  cursor: pointer;
}
.moreDiv:hover .line:after {
  transform: scaleX(1);
}
.moreDiv:hover .circleBefore {
  opacity: 1;
}

.parallexColumns + .txtContent {
  transition: opacity 400ms ease-in-out;
}

.bg-dark-white {
  background: linear-gradient(
    to bottom,
    var(--color-dark) 0%,
    var(--color-dark) 49.9%,
    #fff 50%,
    #fff 100%
  );
}

section.services .imgWrapper {
  aspect-ratio: 2/3;
  position: relative;
  scale: 1;
  transition: scale 400ms ease;
}
section.services .imgWrapper:after {
  position: absolute;
  background-color: black;
  opacity: 0.3;
  inset: 0;
  content: "";
  scale: 1;
  transition: scale 400ms ease;
}
section.services .imgWrapper img {
  aspect-ratio: 2/3;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1;
  transition: scale 400ms ease;
}
section.services .txtWrapper {
  color: white;
}
section.services .card .txtWrapper .title {
  transition: color 300ms ease;
}

section.services .card .descWrapper {
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}

section.services .card:hover .descWrapper {
  grid-template-rows: 1fr;
}
section.services .card:hover {
  z-index: 1;
}
section.services .card:hover .imgWrapper,
section.services .card:hover .imgWrapper:after,
section.services .card:hover .imgWrapper img {
  scale: 1.05;
}
section.services .card:hover .txtWrapper .title {
  color: var(--color-golden);
}
.projectSlideBtn {
  --gray: #c4c4c4;
  color: var(--gray);
  border: 1px solid var(--gray);
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  transition: border-color 300ms ease, color 300ms ease;
}
.projectSlideBtn:hover {
  --gray: var(--color-golden);
  cursor: pointer;
}
.projectCard h2 {
  margin-block-end: 2rem;
}
.projectCard {
  background-color: #ededed;
  padding-inline-start: 5rem;
  padding-block-start: 5rem;
  padding-block-end: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  color: #989898;
}
.container:has(.projectCard) {
  position: relative;
}

.projectCard .leftContent {
  display: grid;
  gap: 3rem;
  grid-auto-rows: max-content;
}

.projectCard .readMoreBtn {
  background-color: transparent;
  border: 1px solid #c4c4c4;
  max-width: max-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 200vmax;
  transition: border-color 300ms ease, color 300ms ease;
}
.projectCard .readMoreBtn:hover {
  border-color: var(--color-golden);
  color: var(--color-golden);
}
.projectCard .rightContent {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 1rem;
  max-width: 55%;
}
.projectCard .rightContent img {
  /* aspect-ratio: 900 / 607; */
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.projectCard .rightContent .txt {
  margin-top: 1rem;
}
